@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


@using (@Html.BeginForm("Index", "Home", FormMethod.Post))
{
    <table>
        <tr>
            <td>@Html.Label("RollNo")</td>
            <td>@Html.TextBox("RollNo")</td>
        </tr>
        <tr>
            <td>@Html.Label("Name")</td>
            <td>@Html.TextBox("Name")</td>
        </tr>
        <tr>
            <td>@Html.Label("Gender")</td>
            <td>
                Male:@Html.RadioButton("Male", "M")
                Female:@Html.RadioButton("Female", "F", true)
            </td>
        </tr>
        <tr>
            <td>@Html.Label("City")</td>
            <td>@Html.TextBox("City")</td>
        </tr>
        <tr>
            <td>@Html.Label("Address")</td>
            <td>@Html.Editor("Address")</td>
        </tr>
        <tr><td></td><td><input type="submit" value="Submit" /></td></tr>
    </table>
}
